.container {
  display: flex;
  flex-direction: row;
}

.navbar {
  width:20%;
}

.chat {
  width: 80%;
}

.userbar {
  height: 56px;
  background-color: #5D5D5D;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.user {
color: aliceblue;
font-size: 1.5em;
}
