/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Kanit|Open+Sans|PT+Sans|Pridi');
@import url('~@angular/material/prebuilt-themes/indigo-pink.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Open Sans', Pridi, serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', Kanit, serif;
  margin: 16px 0;
}
